.seat-layout{
    flex-wrap: nowrap;
}

.seat{
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 0px 0px;
    margin: 5px;
    cursor: pointer;
}
.row{
    justify-content: center;
}
.seat-grey{
    background-color: #ddd;
}
.seat-black{
    background-color: black;
}
.seat-undefined{ /* 남은 좌석, 예약된 좌석 클릭 안되게 설정 */
    cursor: auto;
    pointer-events: none;
}
.class p{
    text-align: center;
}
.seat-selector{
    width: 250px;
}